.new_cl{
    background-color:black;
    color: white;
    font-style: italic;
    border: 7px solid red;
}
#first_div{
    background-color: rgb(245, 245, 214);
    border: 10px groove green;
    /* position: relative; */
    height: 1900px;
}
#sec_div{
    border-radius: 20px;
    padding: 10px 15px 20px 5px;
    width: 25%;
    font-size: 30px;
    position: relative;
    top: 10px;
    left: 10px;
}
#third_div{
    border-radius: 40px;
    padding: 20px 15px 5px 25px;
    font-size: 25px;
    width: 30%;
    position: relative;
    top: -90px;
    left: 320px;
}
#fourth_div{
    border-radius: 20px;
    padding: 10px 2px 5px 68px;
    width: 30%;
    font-size: 30px;
    position: relative;
    top: -168px;
    right: -780px;
}
#circle{
    width: 450px;
    height: 450px;
    border-radius: 250px;
    background-color: rgb(27, 128, 94);
    border: 5px solid slategray;
    position: relative;
    bottom: -115px;
    left: 34px;
}
.cir_cl{
text-align: center;
text-decoration: underline;
font-weight: bold;
font-size: 28px;
top:100px;
left:0px;
font-style: italic;
position:relative;
}
#form{
    background-color: white;
    border: 8px solid red;
    border-style: dashed;
    width:30%;
    margin-left: 300px;
    margin-top: 200px;
    position: relative;
    top: -786px;
    left: 337px;
}
#reg{
    text-align: center;
    font-weight: bold;
    color: rgb(253, 27, 106);
    position: relative;
    left: 5px;
    right: 5px;
    top: 5px;
}
.details{
    color: rgb(253, 76, 112);
    text-align: center;
}
#menu{
    text-align: center;
    border-radius: 20px;
    padding: 15px 40px 15px 40px;
    width: 30%;
    position: relative;
    left: 352px;
    top: -747px;
}
#li{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
    top: -750px;
}
.list{
    background-color: rgb(24, 237, 237);
    border: 3px solid grey;
    border-radius: 20px;
    border-color: green;
    color:blue;
    width: 28%;
    text-align: center;
    margin: 20px;
}